<!-- meu_app/templates/navbar.html -->

{% load permission_tags %}

{% if user|has_role:"gerente" %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Bem Vindo Gerente</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'fornecedor_crud' %}">Fornecedores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'grupo_list' %}">Grupos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'subgrupo_crud' %}">SubGrupos</a>
                </li>        
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'produto_list' %}">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'adicionar_ao_carrinho' %}">Começar um Venda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'vendas_realizadas' %}">Lista de Vendas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'visualizar_vendas' %}">Graficos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% elif user|has_role:"vendedor" %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Bem Vindo Vendedor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'adicionar_ao_carrinho' %}">Começar um Venda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'vendas_realizadas' %}">Lista de Vendas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'visualizar_vendas' %}">Graficos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% else %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Bem Vindo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cadastro' %}">Cadastrar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endif %}
