<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if form.instance.pk %}Editar Produto{% else %}Adicionar Produto{% endif %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    {% include 'navbar.html' %}
        <div class="container mt-5">
            <h1>{% if form.instance.pk %}Editar Produto{% else %}Adicionar Produto{% endif %}</h1>
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_nome">Nome</label>
                    {{ form.nome }}
                    <div class="invalid-feedback">
                        {% if form.nome.errors %}
                            {{ form.nome.errors|striptags }}
                        {% else %}
                            Este campo é obrigatório.
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_descricao">Descrição</label>
                    {{ form.descricao }}
                </div>
                <div class="form-group">
                    <label for="id_preco_custo">Preço de Custo</label>
                    {{ form.preco_custo }}
                </div>
                <div class="form-group">
                    <label for="id_preco_venda">Preço de Venda</label>
                    {{ form.preco_venda }}
                </div>
                <div class="form-group">
                    <label for="id_peso">Peso</label>
                    {{ form.peso }}
                </div>
                <div class="form-group">
                    <label for="id_estoque">Estoque</label>
                    {{ form.estoque }}
                </div>
                <div class="form-group">
                    <label for="id_vendas">Vendas</label>
                    {{ form.vendas }}
                </div>
                <div class="form-group">
                    <label for="id_fornecedor">Fornecedor</label>
                    {{ form.fornecedor }}
                    <div class="invalid-feedback">
                        {% if form.fornecedor.errors %}
                            {{ form.fornecedor.errors|striptags }}
                        {% else %}
                            Este campo é obrigatório.
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_grupo">Grupo</label>
                    {{ form.grupo }}
                    <div class="invalid-feedback">
                        {% if form.grupo.errors %}
                            {{ form.grupo.errors|striptags }}
                        {% else %}
                            Este campo é obrigatório.
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_sub_grupo">Subgrupo</label>
                    {{ form.sub_grupo }}
                    <div class="invalid-feedback">
                        {% if form.sub_grupo.errors %}
                            {{ form.sub_grupo.errors|striptags }}
                        {% else %}
                            Este campo é obrigatório.
                        {% endif %}
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Salvar</button>
                <a href="{% url 'produto_list' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
